body{
    width: 98vw;
    height: 98vh;
    background-color: rgb(29, 29, 29);
}
nav{
    width: 100%;
    height: 6.1%;
    border: 1px rgb(39, 25, 14) solid;
    background-color: #510000;
}
main{
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    border-right: 1px rgb(255, 255, 255) solid;
    font-family: monospace;
    font-size: larger;
}
li:last-child{
    border-right: none;
    float: right;
    border-left: 1px rgb(255, 255, 255) solid;
}
li a{
    display: block;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(223, 165, 165);
}
.atual{
    background-color:  rgb(205, 0, 0);
}
li a:active{
    background-color: rgb(205, 0, 0);
    color: rgb(255, 255, 255);
}
.blocos{ 
    width: 100%;
    height: 100%;
}
.blocos{
    width: 99%;
    height: 99%;
    overflow: hidden;
}
.bloco1, .bloco2, .bloco3, .bloco4{
    width: 99%;
    height: 20%;
    border: 1px #ffffff solid;
    padding-top: 1%;
    margin-top: 1%;
}
.titulo1, .titulo2, .titulo3, .titulo4{
    color: rgb(205, 0, 0);
    list-style-type: none;
    font-family:monospace;
    margin-left: 1%;
    margin-top: -0.5%;
    font-size: xx-large;
}
.d1, .d2, .d3, .d4{
    color: rgb(158, 158, 158);
}
.ap1, .ap2, .ap3, .ap4{
    color: rgb(255, 0, 0);
    font-size: smaller;
    margin-left: 3%;
}
.Fundo{
    height: 100vh;
    width: 90vw;
    display: flex;
    margin: 2%;
}

.bloco{
    height: 20vh;
    width:85vw;
    margin-left:2.5%;
    margin-top: 2.5%;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 1em;
}
.blocod{
    height: 20vh;
    width:85vw;
    margin-left:2.5%;
    margin-top: 2.5%;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 1em;
}
.title{
    color: rgb(114, 8, 8);
    list-style-type: none;
    font-family:fantasy;
    margin-left: 1%;
    margin-top: 1%;
    font-size: xx-large;
}
.titled{
    color: rgb(114, 8, 8);
    list-style-type: none;
    font-family:fantasy;
    margin-left: 1%;
    margin-top: 1%;
    font-size: xx-large;
}
.image{
    height: 90%;
    width: 10%;
    margin-left: 9%;
    float: left;
    overflow: hidden;
    margin-top: -3.5%;
    border-radius: 2.5em;
}
.imaged{
    height: 90%;
    width: 10%;
    margin-left: 9%;
    float: left;
    overflow: hidden;
    margin-top: -7.3%;
    border-radius: 2.5em;
}
.produtos{
    color: #744014;
    text-align: center;
    font-family: monospace;
    font-size: medium;
    border-radius: 1em;
}

.imagem{
    height: 80%;
    width: 80%;
}

.veja{
    margin-top: 5%;
    margin-left: 2%;
    color:#aca6a6;
    font-family: monospace;
    font-size: larger;
}
.vejad{
    margin-top: 1%;
    margin-left: 2%;
    color:#aca6a6;
    font-family: monospace;
    font-size: larger;
}